wheel==0.33.6  # Needed for successful compile of other modules.
responses==0.10.6
black==19.3b0
pytest-runner==5.1
pytest-cov==2.8.1
pytest-docstyle==1.5.0
pytest-mypy==0.4.1
pytest-flake8==1.0.4
pytest-pylint==0.14.1
